
.container{
    background-color: #a8d7f7;
    margin-top: 11%;
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(238, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  body{
    align-content: center;
    color: black;

   
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png);
    background-repeat: no-repeat;
    background-size: auto;
}
#result{
    font-size:30px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f1f50a;
}
 
  input{
    width: 100%;
    padding: 9px 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 5px;
    border-width: 0.5px;
    font-size: 18px;
}
  
.content{
    position : absolute ;
    top: 5%;
    right: 50%;
   
   
    width: 200px;
    height: fit-content;
    box-sizing: border-box;
   
    padding: 30px;
  }
  .borderx {
    width: 300px;
    border: 15px solid rgb(238, 70, 70);
    padding: 50px;
    margin: 20px;
  }
